USE [master]
GO
/****** Object:  Database [Lab02]    Script Date: 12-Dec-23 21:30:27 ******/
CREATE DATABASE [Lab02]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab02', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHACHSAN\MSSQL\DATA\Lab02.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab02_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHACHSAN\MSSQL\DATA\Lab02_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab02].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab02]
GO
/****** Object:  Table [dbo].[ElderlyEmployee]    Script Date: 12-Dec-23 21:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElderlyEmployee](
	[ID] [int] NOT NULL,
	[FullName] [nvarchar](35) NULL,
	[Gender] [bit] NULL,
	[Birthday] [datetime] NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [varchar](50) NULL,
	[Salary] [float] NULL,
	[Phone] [varchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12-Dec-23 21:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] NOT NULL,
	[FullName] [nvarchar](35) NULL,
	[Gender] [bit] NULL,
	[Birthday] [datetime] NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [varchar](50) NULL,
	[Salary] [float] NULL,
	[Phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([ID], [FullName], [Gender], [Birthday], [Address], [Email], [Salary], [Phone]) VALUES (1, N'John', 1, CAST(N'2002-05-15T00:00:00.000' AS DateTime), N'Hà nội', N'duongphong@gmail.com', 2500000, N'0123456789')
INSERT [dbo].[Employee] ([ID], [FullName], [Gender], [Birthday], [Address], [Email], [Salary], [Phone]) VALUES (2, N'Nguyễn Hoàng', 0, CAST(N'2002-10-10T00:00:00.000' AS DateTime), N'Hà nội', N'nguyenhoang@example.com', 1800000, N'0987654321')
INSERT [dbo].[Employee] ([ID], [FullName], [Gender], [Birthday], [Address], [Email], [Salary], [Phone]) VALUES (3, N'Nguyễn Thăng', 1, CAST(N'2002-02-15T00:00:00.000' AS DateTime), N'Hải Dương', N'nguyenthang@example.com', 2200000, N'0456789123')
GO
USE [master]
GO
